html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4.5em;
  background: -webkit-linear-gradient(#666, #333);
}

h1 {
  display: inline-block;
  color: #F1F1F1;
  text-shadow: 0 1px #FFF, 0 -1px #000;
  margin: 15px;
}

h3 {
  display: inline-block;
  color: #F3F3F3;
}

#wrapper {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-top: 4.5em;
}

#input {
  background-color: #fff;
  background-image: -webkit-linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%), 
  -webkit-linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%);
  background-size:16px 16px;
  background-position:0 0, 8px 8px;
  height: 100%;
  width:50%;
  float:left;
  box-shadow: inset -25px 25px 25px -25px #000
}

#stylesheet {
  background: #fff;
  width:49%;
  float: right;
  height: 100%;
  color: black;
  margin: 0;
  margin-left: 1%;
  padding: 0;
  overflow: scroll
}

code {
  font: 13px/1.8 Monaco, Mono-Space;
  white-space: pre;
}

#vexel {
  margin: 15px;
}

#dropzone {
  border: 4px dashed #113;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: bold 25px Arial, Tahoma, sans-serif;
  color: #113;
  margin: 15px;
}

#dropzone.over {
  border-color: #c00;
  color: #c00;
}

.social {
  float:right;
  padding: 15px;
}